{% extends 'DMS/base.html' %}
  {% block title %}
  <title>Password Reset</title>
  {% endblock title %}
  {% block content %}
    <main class="container pt-5">
        <h2 class="">Password has been successfully reset</h2>
      <div class="border-top pt-3">
        <small class="text-muted ms-2">You are getting redirected to the login page</small>
      </div>
    </main>
    {% endblock content %}
    {% block script %}
<script type="text/javascript">
    setTimeout(function() {
        window.location.href = "/login/";
        }, 5000);
</script>
{% endblock script %}

