{% extends 'DMS/base.html' %}
{% load crispy_forms_tags %}
    {% block title %}
    <title>Create an account</title>
    {% endblock title %}
  {% block content %}
  <main class="container p-5">  
    <form method="POST">
    <legend class="border-bottom mb-4">Join today</legend>
      {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-dark">Register</button>
      </form>
      <div class="border-top pt-3">
        <small class="text-muted">Already have an account? <a class="me-2" href="{% url 'login' %}">Sign in</a></small>
      </div>
    </div>
    </main>
    {% endblock content %}  
