{% extends 'DMS/base.html' %}
{% block title %}
<title>Terms and conditions</title>
{% endblock title %}
    {% block content %}
    <main class=" container pt-5 main">
        <h2><strong>Terms and Conditions</strong></h2>

<p>Welcome to Proiect licenta-Sistem de gestiune a documentelor!</p>

<h3><strong>Cookies</strong></h3>

<p>We employ the use of cookies.

<h3><strong>Your Privacy</strong></h3>

<p>Please read <span class="text-muted"><a href="{% url 'Users-privacy_policy' %}">Privacy Policy</a></span></p>


    </main>
    {% endblock content %}