{% extends 'DMS/base.html' %}
    {% block title %}
    <title>About</title>
    {% endblock title %}
    {% block content %}
    <main class="container pt-5">
        <h1>About page</h1>

        <p>Proiect licenta-Sistem de gestiune a documentelor operates the www.edms.ro website, which provides the SERVICE.</p>
        
        <p>This page is used to inform website visitors regarding the functionality of the aforementioned site.</p>
                
        <p>Users are able to create an account and associated profile, and upload files of different formats and filesizes.</p>
        
        <h2>Users and user profiles</h2>
        
        <p>The users are able to register an account which will be associated to one or more groups at a later date.Users are also automatically given a profile and profile page which displays selected data about their account. </p>
        
        <h2>Document Management</h2>
        
        <p>The users are able to create one or multiple folders and tags and upload files of varying sizes, types and formats for archiving, versioning, indexing and secure storage.</p>
        
        <p>The users are also provided with a comprehensive search function and a paginator, in order to facilitate efficient filtering of the accessible files according to the provided criteria.</p>

        <h2>OCR</h2>
        
        <p>Users are able to upload images of the png, jpg, gif and multiple other formats for optical character recognition.</p>
        
    </main>
    {% endblock content %}
