{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Document</title>
    {% endblock title %}


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static '/styles/main.css' %}">
</head>
<body class="pt-5 ">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-xxl">
            <a href="{% url 'DMS-home' %}" class="navbar-brand"> 
            <span class="fw-bold text-secondary">EDMS</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav">
                <span class="navbar-toggler-icon">
                </span>
            </button>
            <div class="collapse navbar-collapse justify-content-start align-center" id="main-nav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"><i class="bi bi-archive-fill"></i>
                            Folders
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'folders' %}"><i class="bi bi-archive-fill"></i>
                                My Folders
                            </a></li>
                            <li><a class="dropdown-item" href="{% url 'folder-create' %}"><i class="bi bi-plus-square"></i>
                                Create Folder
                            </a></li>
                            </ul>
                    <li class="nav-item">
                        <a href="{% url 'tag' %}" class="nav-link"><i class="bi bi-tags-fill"></i>
                            Tags
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'DMS-upload' %}" class="nav-link"><i class="bi bi-file-earmark-richtext-fill"></i>
                            Documents
                        </a>
                    </li>
                    <a href="{% url 'OCR-ocr' %}" class="nav-link"><i class="bi bi-eye-fill"></i>
                        OCR
                    </a>
                    <li class="nav-item">
                        <a href="{% url 'DMS-about' %}" class="nav-link"><i class="bi bi-book-half"></i>
                            About
                        </a>
                    </li>
                    {% if user.is_authenticated and user.is_manager == True %}
                    <li class="nav-item">
                        <a href="{% url 'Users-Groups' %}" class="nav-link"><i class="bi bi-people-fill"></i>
                            Groups
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="nav-link pe-5" >Hello, {{user.username}}</span>
                    </li>
                     {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"><i class="bi bi-person-circle"></i>
                            Account
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="navbarDropdown">
                            {% if user.is_authenticated %}

                            {% if user.is_superuser %}
                            <li><a class="dropdown-item" href="{% url 'admin:index' %}"><i class="bi bi-wrench-adjustable-circle"></i>
                                Admin
                            </a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{% url 'profile' %}"><i class="bi bi-person-badge"></i>
                                Edit Profile
                            </a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="bi bi-door-closed-fill"></i>
                                Logout
                            </a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="{% url 'login' %}"><i class="bi bi-door-open-fill"></i>
                                    Login
                                </a></li>
                                <li><a class="dropdown-item" href="{% url 'register' %}" ><i class="bi bi-person-plus"></i>
                                    Register
                                </a></li>
                            {% endif %}    
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}
    <main class="container">

    </main>
    {% endblock content %}
    <script
  src="https://code.jquery.com/jquery-3.6.1.js"
  integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
  crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" 
    crossorigin="anonymous"></script>

</body>
{% block script %}
<script>
    
</script>
{% endblock script %}
</html>